<div class="app-container">
  <app-header (openDrawer)="toggle()" (openCodeDrawer)="toggleCode()" [nodeInformation]="nodeData" (viewChanged)="handleViewChange($event)" (restartNodes)="handleRestart($event)"></app-header>

  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawerCode [mode]="'over'" position="end" class="code-sidenav">
      <div class="query-wrapper">
        <app-queries (queryResult)="handleQueryResult($event)" (queryNodesResult)="handleNodeResult($event)" (queryRelationshipsResult)="handleRelationshipsResult($event)"></app-queries>
      </div>
    </mat-drawer>

    <mat-drawer #drawer [mode]="'over'">
      <button mat-button extended color="primary">Create new node</button>
      <br>
      <button mat-button extended color="primary">Get all nodes</button>
    </mat-drawer>

    <div>
      <app-canvas-view *ngIf="databaseSelected; else noDatabaseSelected" [restartView]="restartView" [classicView]="classicView" [canvasData]="queryOutput" (nodeInfo)="nodeData = $event" [nodeData]="nodes" [edgeData]="edges"></app-canvas-view>
      <ng-template #noDatabaseSelected>
        <div class="no-database-message">
          Database not selected, please select a database.
        </div>
      </ng-template>
    </div>
  </mat-drawer-container>
</div>
