<div mat-dialog-content>
    <div *ngIf="!lowCode && !gptBuilder">
        <div class="info-header">Create a query</div>
        <div class="info-section">
            <button mat-raised-button extended color="primary" matTooltip="Type a prompt to build a query that will be executed" (click)="openBuilder()">
                GPT Builder
            </button>
            <button mat-raised-button extended color="primary"  matTooltip="Build a query with a dynamic builder" (click)="openLowCodeBuilder()">
                Low code format
            </button>
        </div>
    </div>
    <div *ngIf="lowCode">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="previousStep()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="container">
        <mat-form-field>
            <mat-label>Operation</mat-label>
            <mat-select matNativeControl required [(ngModel)]="selectedOperation">
              <mat-option *ngFor="let option of operations" [value]="option.value">{{ option.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="selectedOperation == 'display'">
          <mat-form-field class="mat-form-field">
            <mat-label>Object type</mat-label>
            <mat-select matNativeControl required [(ngModel)]="selectedObject" (selectionChange)="filteredData()">
                <mat-option *ngFor="let option of nodes" [value]="option.name">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <div *ngFor="let option of nodeAttributes">
            <mat-form-field *ngIf="selectedObject != null">
                <mat-label>Filter by value</mat-label>
                <mat-select matNativeControl required [(ngModel)]="filter">
                <mat-option *ngFor="let option1 of option" [value]="option1">{{ option1 }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Field value</mat-label>
                <input matInput [(ngModel)]="filterComp" name="Object Value">
            </mat-form-field>
            </div>
          </div>
          </div>
          <div *ngIf="selectedOperation == 'delete'">
            <mat-form-field class="mat-form-field">
              <mat-label>Object type</mat-label>
              <mat-select matNativeControl required [(ngModel)]="selectedObject" (selectionChange)="filteredData()">
                  <mat-option *ngFor="let option of nodes" [value]="option.name">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <div *ngFor="let option of nodeAttributes">
              <mat-form-field *ngIf="selectedObject != null">
                  <mat-label>Filter by value</mat-label>
                  <mat-select matNativeControl required [(ngModel)]="filter">
                  <mat-option *ngFor="let option1 of option" [value]="option1">{{ option1 }}</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Field value</mat-label>
                  <input matInput [(ngModel)]="filterComp" name="Object Value">
              </mat-form-field>
              </div>
            </div>
            </div>
            <div *ngIf="selectedOperation == 'update'">
                <mat-form-field class="mat-form-field">
                  <mat-label>Object type</mat-label>
                  <mat-select matNativeControl required [(ngModel)]="selectedObject" (selectionChange)="filteredData()">
                      <mat-option *ngFor="let option of nodes" [value]="option.name">{{ option.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div>
                  <div *ngFor="let option of nodeAttributes">
                  <mat-form-field *ngIf="selectedObject != null">
                      <mat-label>Filter by value</mat-label>
                      <mat-select matNativeControl required [(ngModel)]="filter">
                      <mat-option *ngFor="let option1 of option" [value]="option1">{{ option1 }}</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Field value</mat-label>
                      <input matInput [(ngModel)]="filterComp" name="Object Value">
                  </mat-form-field>
                  </div>
                </div>
                <div>
                    <div *ngFor="let option of nodeAttributes">
                    <mat-form-field *ngIf="selectedObject != null">
                        <mat-label>Field to update</mat-label>
                        <mat-select matNativeControl required [(ngModel)]="updateBy">
                        <mat-option *ngFor="let option1 of option" [value]="option1">{{ option1 }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>New value</mat-label>
                        <input matInput [(ngModel)]="updateNewValue" name="Object Value">
                    </mat-form-field>
                    </div>
                  </div>
                </div>
          <div *ngIf="selectedOperation == 'create'">
            <mat-form-field>
                <mat-label>Object Name</mat-label>
                <input matInput [(ngModel)]="objectName" name="Object Name">
            </mat-form-field>
            <div class="container-two-fields" *ngFor="let object of objectAttributes">
                <mat-form-field>
                    <mat-label>Field name</mat-label>
                    <input matInput [(ngModel)]="object.name" name="Object Name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Field value</mat-label>
                    <input matInput [(ngModel)]="object.value" name="Object Value">
                </mat-form-field>
            </div>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="addField()">
                <mat-icon>add</mat-icon>
            </button>
          </div>
          <span class="output-query">{{this.finalQuery}}</span>
          <button mat-raised-button extended color="primary" (click)="createQuery()">Create query</button>
          
        </div>
    </div>
    <div *ngIf="gptBuilder">
        <button mat-icobuttonn- class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="previousStep()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-form-field>
            <mat-label>Type your query prompt</mat-label>
            <input matInput [(ngModel)]="queryPrompt">
        </mat-form-field>
        <button mat-raised-button extended color="primary" (click)="buildQuery()">Build query</button>
        <span class="output-query">{{this.queryResult}}</span>
    </div>
</div>
